form {
  padding: 10px;
  margin-bottom: 1em;
}

form button {
  text-align: center;
  margin: 1em;
}

.green-yellow-crayola {
  background-color: #F9EA9A;
}

.coffee {
  background-color: #684E32;
}

.pullman-brown-ups-brown {
  background-color: #5D3A00;
}

.mango-tango {
  background-color: #F98948;
}

.olive {
  background-color: #9B8816;
}
