<h1 class="text-center">{{titulo}}</h1>

<!-- Registro de un Pedido de lo que Sea -->
<form name='formPedido' [formGroup]='formPedido' class="bg-light">

  <fieldset>
    <fieldset>
      <legend>Detalle del pedido</legend>

      <!--campo Descripción-->
      <div class="form-group row my-3">
        <label class="col-form-label col-sm-auto" for="descripcionPedido">
          ¿Qué necesitás? <span class="text-danger">*</span>
        </label>

        <div class="col-sm-5">
          <input id="descripcionPedido" type="text" class="form-control" formControlName="descripcionPedido"
            [ngClass]="{'is-invalid': (form['descripcionPedido'].touched || submitted) && form['descripcionPedido'].errors}"/>

          <div class="text-danger" *ngIf="(form['descripcionPedido'].touched || submitted) && form['descripcionPedido'].errors?.['required']">
            Dato requerido.
          </div>

          <div class="text-danger"
            *ngIf="form['descripcionPedido'].errors?.['minlength'] || form['descripcionPedido'].errors?.['maxlength']">
            Dato texto, 3 a 30 caracteres.
          </div>
        </div>
      </div>

      <!--campo Imagen-->
      <div class="row form-group my-3">
        <!-- Subir imagen-->
        <label for="imagen" class="btn btn-dark">Subir imagen</label>
        <input id="imagen" style="visibility:hidden;" type="file" multiple accept=".jpg" (change)="onImagenChange($event)">

        <!-- Vista previa de imagen -->
        <div class="imagePreview" *ngIf="urlImagen && urlImagen !== ''">
          <img [src]="urlImagen" [alt]="" width="200px" height="200px">
        </div>

        <div class="text-danger" *ngIf="(urlImagen === '' || submitted) && form['imagen'].errors?.['required']">
          La imagen es requerida.
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Direccion comercio</legend>
      <!--campos Calle nombre y altura de comercio-->
      <div class="row form-group my-3">
        <label class="col-form-label col-sm-1" for="calleNombreComercio">
          Calle <span class="text-danger">*</span>
        </label>

        <div class="col-sm-3">
          <input id="calleNombreComercio" type="text" name="calleNombreComercio" class="form-control" formControlName="calleNombreComercio" [ngClass]="{
          'is-invalid': (form['calleNombreComercio'].touched || submitted)
          && form['calleNombreComercio'].errors}"/>
          <div class="text-danger" *ngIf="(form['calleNombreComercio'].touched || submitted) && form['calleNombreComercio'].errors?.['required']">
            Dato requerido.
          </div>

          <div class="text-danger" *ngIf="form['calleNombreComercio'].errors?.['minlength'] || form['calleNombreComercio'].errors?.['maxlength'] ">
            Dato texto, 3 a 50 caracteres.
          </div>
        </div>

        <label class="col-form-label col-sm-auto" for="calleNumeroComercio">
          Altura <span class="text-danger">*</span>
        </label>

        <div class="col-sm-3">
          <input id="calleNumeroComercio" type="text" name="calleNumeroComercio" class="form-control" formControlName="calleNumeroComercio" [ngClass]="{'is-invalid': (form['calleNumeroComercio'].touched || submitted)
          && form['calleNumeroComercio'].errors}"/>
          <div class="text-danger" *ngIf="(form['calleNumeroComercio'].touched || submitted) && form['calleNumeroComercio'].errors?.['required']">
            Dato requerido.
          </div>

          <div class="text-danger" *ngIf="form['calleNumeroComercio'].errors?.['pattern']">
            Dato numérico, 1 a 5 dígitos.
          </div>
        </div>
      </div>

      <!--campos Ciudad comercio-->
      <div class="row form-group my-3">
        <label class="col-form-label col-sm-1" for="ciudadComercio">
          Ciudad <span class="text-danger">*</span>
        </label>

        <div class="col-sm-6">
          <select id="ciudadComercio" name="ciudadComercio" class="form-select" formControlName="ciudadComercio" [ngClass]="{'is-invalid': (form['ciudadComercio'].touched || submitted)
          && form['ciudadComercio'].errors}">
            <option value="null" selected>Seleccione una ciudad...</option>
            <option value="Cor">Córdoba</option>
            <option value="Sf">San Francisco</option>
            <option value="Vgb">Villa General Belgrano</option>
          </select>

          <div class="text-danger" *ngIf="(form['ciudadComercio'].touched || submitted) && form['ciudadComercio'].errors?.['required']">
            Dato requerido.
          </div>
        </div>
      </div>

      <div class="row form-group my-3">
        <label class="col-form-label col-sm-auto" for="referenciaComercio">
          Referencia (Opcional)
        </label>

        <div class="col-sm-3">
          <input id="referenciaComercio" type="text" formControlName="referenciaComercio" class="form-control"/>
        </div>

        <div class="text-danger" *ngIf="
        form['referenciaComercio'].errors?.['minlength'] ||
        form['referenciaComercio'].errors?.['maxlength'] ">
          Dato texto, 3 a 50 caracteres.
        </div>
      </div>

    </fieldset> <hr>

    <fieldset>
      <legend>Dirección entrega</legend>
      <!--campos Calle nombre y altura de domicilio-->
      <div class="row form-group my-3">
        <label class="col-form-label col-sm-1" for="calleNombreDomicilio">
          Calle <span class="text-danger">*</span>
        </label>

        <div class="col-sm-3">
          <input id="calleNombreDomicilio" type="text" name="calleNombreDomicilio" class="form-control" formControlName="calleNombreDomicilio" [ngClass]="{
          'is-invalid': (form['calleNombreDomicilio'].touched || submitted) && form['calleNombreDomicilio'].errors}"/>
          <div class="text-danger" *ngIf="(form['calleNombreDomicilio'].touched || submitted) && form['calleNombreDomicilio'].errors?.['required']">
            Dato requerido.
          </div>

          <div class="text-danger" *ngIf="form['calleNombreDomicilio'].errors?.['minlength'] ||form['calleNombreDomicilio'].errors?.['maxlength'] ">
            Dato texto, 3 a 50 caracteres.
          </div>
        </div>

        <label class="col-form-label col-sm-auto" for="calleNumeroDomicilio">
          Altura <span class="text-danger">*</span>
        </label>

        <div class="col-sm-3">
          <input id="calleNumeroDomicilio" type="text" name="calleNumeroDomicilio" class="form-control" formControlName="calleNumeroDomicilio" [ngClass]="{
          'is-invalid': (form['calleNumeroDomicilio'].touched || submitted) && form['calleNumeroDomicilio'].errors}"/>
          <div class="text-danger" *ngIf="(form['calleNumeroDomicilio'].touched || submitted) && form['calleNumeroDomicilio'].errors?.['required']">
            Dato requerido.
          </div>

          <div class="text-danger" *ngIf="form['calleNumeroDomicilio'].errors?.['pattern']">
            Dato numérico, 1 a 5 dígitos.
          </div>
        </div>
      </div>

      <div class="row form-group my-3">
        <label>
          <input type="checkbox" id="esDepto" (change)="onEsDeptoChange()">
          Es un departamento
        </label>
      </div>

      <div class="row form-group my-3" *ngIf="esDepto">
        <label class="col-form-label col-sm-1" for="pisoDepto">
          Piso <span class="text-danger">*</span>
        </label>

        <div class="col-sm-3">
          <input id="pisoDepto" type="text" name="pisoDepto" class="form-control" formControlName="pisoDepto" [ngClass]="{
          'is-invalid': (form['pisoDepto'].touched || submitted) && form['pisoDepto'].errors}"/>
          <div class="text-danger" *ngIf="(form['pisoDepto'].touched || submitted) && form['pisoDepto'].errors?.['required']">
            Dato requerido.
          </div>

          <div class="text-danger" *ngIf="form['pisoDepto'].errors?.['pattern']">
            Dato texto, 1 a 2 caracteres.
          </div>
        </div>

        <label class="col-form-label col-sm-auto" for="letraDepto">
          Letra
        </label>

        <div class="col-sm-3">
          <input id="letraDepto" type="text" name="letraDepto" class="form-control" formControlName="letraDepto" [ngClass]="{
          'is-invalid': (form['letraDepto'].touched || submitted) && form['letraDepto'].errors}"/>

          <div class="text-danger" *ngIf="form['letraDepto'].errors?.['pattern']">
            Dato alfabético, 1 dígito.
          </div>
        </div>
      </div>

      <!--campos Ciudad domicilio-->
      <div class="row form-group my-3">
        <label class="col-form-label col-sm-1" for="ciudadDomicilio">
          Ciudad <span class="text-danger">*</span>
        </label>

        <div class="col-sm-6">
          <select id="ciudadDomicilio" name="ciudadDomicilio" class="form-select" formControlName="ciudadDomicilio" [ngClass]="{'is-invalid': (form['ciudadDomicilio'].touched || submitted)
          && form['ciudadDomicilio'].errors}">
            <option value="null" selected>Seleccione una ciudad...</option>
            <option value="Cor">Córdoba</option>
            <option value="Sf">San Francisco</option>
            <option value="Vgb">Villa General Belgrano</option>
          </select>
          <div class="text-danger" *ngIf="(form['ciudadDomicilio'].touched || submitted) && form['ciudadDomicilio'].errors?.['required']">
            Dato requerido.
          </div>
        </div>
      </div>

      <div class="row form-group my-5">
        <label class="col-form-label col-sm-auto" for="referenciaDomicilio">
          Referencia (Opcional)
        </label>

        <div class="col-sm-3">
          <input id="referenciaDomicilio" type="text" formControlName="referenciaDomicilio" class="form-control"/>
        </div>

        <div class="text-danger" *ngIf="
        form['referenciaDomicilio'].errors?.['minlength'] ||
        form['referenciaDomicilio'].errors?.['maxlength'] ">
          Dato texto, 3 a 50 caracteres.
        </div>
      </div>

    </fieldset><hr>

    <!--campos de Entrega-->
    <fieldset>

      <legend>Entrega</legend>

      <div class="row form-group my-3">
        <label class="col-form-label col-sm-2" for="momentoEntrega">
          Momento de Entrega <span class="text-danger">*</span>
        </label>

        <div class="col-sm-3">
          <select [value]="" id="momentoEntrega" name="momentoEntrega"  #momentoDeEntrega class="form-select" formControlName="momentoEntrega" [ngClass]="{'is-invalid': (form['momentoEntrega'].touched || submitted)
            && form['momentoEntrega'].errors}">
            <option value="null" selected>Seleccione el momento de entrega...</option>
            <option value="Pa">Programar ahora</option>
            <option value="Lap">Lo antes posible</option>
          </select>
          <div class="text-danger" *ngIf="(form['momentoEntrega'].touched || submitted) && form['momentoEntrega'].errors?.['required']">
            Dato requerido.
          </div>
        </div>
      </div>

      <!--campos momento de entrega-->

      <div class="row form-group my-3" *ngIf="momentoDeEntrega.selectedIndex ===1">

        <label class="col-form-label col-sm-auto" for="fechaEntrega">
          Fecha <span class="text-danger">*</span>
        </label>

        <div class="col-sm-2" >
            <input id="fechaEntrega" type="date" name="fechaEntrega" class="form-control" formControlName="fechaEntrega" />
        </div>

        <label class="col-form-label col-sm-auto" for="horaEntrega">
         Hora <span class="text-danger">*</span>
        </label>

        <div class="col-sm-2">
          <input id="horaEntrega" type="time" name="horaEntrega" class="form-control" formControlName="horaEntrega" />
        </div>
      </div>

    </fieldset>

    <hr>

    <fieldset>
      <!--campos Total a pagar-->
      <div class="row form-group my-3">
        <label class="col-form-label col-sm-auto" for="totalPagar">
          Total a pagar <span class="text-danger">*</span>
        </label>

        <div class="col-sm-2">
          <input id="totalPagar" type="text" name="totalPagar" class="form-control" readonly="readonly" value="$100"/>
        </div>
      </div>

      <!--campos Forma de pago-->
      <div class="row form-group my-3">
        <label class="col-form-label col-sm-2" for="formaPago">
          Forma de pago <span class="text-danger">*</span>
        </label>

        <div class="col-sm-6">
          <select id="formaPago" name="formaPago" #FormaDePago class="form-select" formControlName="formaPago" [ngClass]="{'is-invalid': (form['formaPago'].touched || submitted)
            && form['formaPago'].errors}">
            <option value="null" selected>Seleccione una forma de pago...</option>
            <option value="Tc">Tarjeta de Crédito MasterCard</option>
            <option value="Efec">Efectivo</option>
          </select>
          <div class="text-danger" *ngIf="(form['formaPago'].touched || submitted) && form['formaPago'].errors?.['required']">
            Dato requerido.
          </div>
        </div>
      </div>

      <!--campos Efectivo-->
      <div class="row form-group my-3" *ngIf="FormaDePago.selectedIndex ===2">

        <label class="col-form-label col-sm-auto" for="montoAAbonar">
          Monto a abonar <span class="text-danger">*</span>
         </label>

         <div class="col-sm-2">
           <input id="montoAAbonar" type="text" name="montoAAbonar" class="form-control" formControlName="montoAAbonar" />
         </div>

      </div>

      <!--campos de Tarjeta-->
      <div *ngIf="FormaDePago.selectedIndex === 1">
        <div class="row form-group my-3">

          <label class="col-form-label col-sm-auto" for="nroTarjeta">
            Numero de tarjeta <span class="text-danger">*</span>
          </label>

          <div class="col-sm-2">
            <input id="nroTarjeta" type="text" name="nroTarjeta" class="form-control" formControlName="nroTarjeta" />
          </div>

          <label class="col-form-label col-sm-auto" for="titularTarjeta">
            Titular <span class="text-danger">*</span>
          </label>

          <div class="col-sm-2">
            <input id="titularTarjeta" type="text" name="titularTarjeta" class="form-control" formControlName="titularTarjeta" />
          </div>

        </div>

        <div class="row form-group my-3">

          <label class="col-form-label col-sm-auto" for="fechaVencimientoTarjeta">
            Fecha de Vencimiento <span class="text-danger">*</span>
          </label>

          <div class="col-sm-2">
            <input id="fechaVencimientoTarjeta" type="text" name="fechaVencimientoTarjeta" class="form-control" formControlName="fechaVencimientoTarjeta" placeholder="MM/AA"/>
          </div>

          <label class="col-form-label col-sm-auto" for="codigoSeguridadTarjeta">
            Codigo de Seguridad <span class="text-danger">*</span>
          </label>

          <div class="col-sm-2">
            <input id="codigoSeguridadTarjeta" type="text" name="codigoSeguridadTarjeta" class="form-control" formControlName="codigoSeguridadTarjeta" />
          </div>

        </div>

      </div>

    </fieldset>




  </fieldset>

  <!-- Botones Grabar, Cancelar/Volver' -->
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" (click)="grabar()">
      <i class="fa fa-check"></i> Grabar
    </button>&nbsp;
  </div>

  <!--texto: Revisar los datos ingresados...-->
  <div id="divMsjFormRegistro" class="row alert alert-danger" *ngIf="formPedido.invalid && submitted">
    <i class="fa fa-exclamation-sign"></i>Revisar los datos ingresados
  </div>
</form>
